<div class="campos">
    <div id="montanha">
        <div id="skier">
        </div>
    </div>
    <div id="painel">
        <p id="vidas"></p>
        <p id="pontuacao"></p>
    </div>
</div>
<script src="/js/skifree.js"></script>