<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Aluno</th>
            <th scope="col">Pontuação</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {{#each partidas}}
        <tr>
            
            <td>{{nome}}</td>
            <td>{{pontuacao}}</td>
            
        </tr>
        {{/each}}
    </tbody>
</table>